
body{
    margin: 0;
    background-color: whitesmoke;
    font-family: sans-serif;
}
.form,.login{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 2%; */
    height: 620px;
    width: 90%;
    margin-top: 4%;
    margin-left: 4%;
    border: solid 2px whitesmoke;
    padding: 14px;
    background-color: white;
    border-radius: 20px;
    /* box-shadow: 0px 0px 10px 10px whitesmoke; */
}
.child1,.child2,.logch1,.logch2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    width: 50%;
    padding: 100px;
    /* border: solid 2px; */
    gap: 20px;
}
.child2{
    margin-left: -10%;
}
input[type="text"],input[type="password"]{
    height: 10%;
    width: 500px;
    font-size: 22px;
    border: none;
    border-bottom: solid 1px;
}
button{
    height: 16%;
    width: 150px;
    font-size: 22px;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
}
.checkbox{
    display: flex;
    justify-content: start;
    align-items: center;
}
#check{
    height: 15px;
    width: 15px;
}
table{
    height: 300px;
    /* border: solid 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
table tr td{
    height: 40px;
    width: 260px;
    text-align: center;
    border: solid 1px;
}
#showdata{
    display: none;
}












@media only screen and (max-width: 800px){
    .form{
        height: auto;
        width: 100%;
    }
    .form,.login{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .child1,.logch1{
        font-size: small;
    }
    .child2,.logch2{
        display: none;
    }
    input[type="text"],input[type="password"]{
        height: 10%;
        width: 100%;
        font-size: 22px;
        border: none;
        border-bottom: solid 1px;
    }
    button{
        height: 16%;
        width: 100%;
        font-size: 22px;
        border-radius: 5px;
        border: none;
        background-color: blue;
        color: white;
    }
    #showing{
        height: auto;
        width: 100%;
        font-size: smaller;
    }
    #showing tr td{
        height: auto;
        width: auto;
    }
}