html{
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
}
#image{
    height: 600px;
}
#res{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
#res div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 40px;
    width: 300px;
    border: solid 2px whitesmoke;
    box-shadow: 10px 10px 10px whitesmoke;
}